*{
    padding: 0px;
    margin: 0px;
}
/* Font Styles */

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Styles */

.primary-btn{
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color:#ffff;
    padding: 12px 36px;
    border: none;
    border-radius: 5px;
}

.primary-color{
    color:#252432;
}

.primary-bgc{
    background-color: #F5F8FF;
}

/* Navigation Bar Styles */

header{
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: repeat;
}
header nav h2{
 color: #4E47FF;
 font-size: 34px;
}
header nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

.banner{
    padding: 309px 152px 267px ;
    justify-content: center;
}

.banner-title{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
}

.banner button {
    display: block;
    margin: 37px auto;

}



/* Action Section Styles */

.action{
    display: flex;
    justify-content: center;
    margin-top: 116px;
    gap: 220px;
}

.action-content{
    max-height: 203px;
    max-width: 517px;
}

.action-title{
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 23px;
}

.action-description{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    padding-bottom: 23px;
}

.action-img{
    max-width: 403px;
    max-height: 328px;
    border-radius: 48px;
}

.productive-user{
    background-color: rgba(78, 71, 255, 0.1);
    margin: 120px 140px;
    border: none;
    border-radius: 24px;
}

.productive-user-content-heading{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    padding: 50px 142px;
}

.productive-user-datas{
    display: flex;
    justify-content: space-around;
}

.productive-user-data-heading{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.productive-user-data-description{
    font-size: 20ox;
    color: rgba(0, 0, 0, 0.5);
}


/* Extra Section (Will do Later */